.custom-card {
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
}

  .custom-card:hover {
    transform: translateY(-5px);
  }

.card-img-container {
  height: 200px;
  overflow: hidden;
}

  .card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.card-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
