<section class="about-hero">
  <div class="hero-content">
    <h1>News FarmEase</h1>
    <p>Exploring agriculture news & update with us</p>
  </div>
</section>

<div class="container py-4">
  <h2 class="text-center mb-5 fw-bold">Agriculture News Portal</h2>

  <div class="row g-4" *ngIf="articles.length > 0; else noData">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of articles">
      <app-card [data]="item"></app-card>
    </div>
  </div>

  <div *ngIf="!loading" class="text-center my-5">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading news...</span>
    </div>
    <p  class="mt-2 text-muted">Fetching latest updates...</p>
   
      <button class="btn btn-success btn-lg px-5 shadow-sm" (click)="loadMore()"routerLink='/News'>
      load data
      </button>
    
  </div>



  <ng-template #noData>
    <div class="text-center py-5" *ngIf="!loading">
      <h3 class="text-muted">No articles found.</h3>
      <p>Try again later or check back for updates.</p>
    </div>
  </ng-template>
</div>
