
<nav class=" container-fluid navbar navbar-expand-lg transition-nav sticky-top "id="navbar">

  <div class="container rounded-4 shadow-lg navbar-dark bg-dark">

    <a class="navbar-brand d-flex align-items-center gap-2 fw-semibold px-2" routerLink="/">

      <img src="logo.png"
           alt="FarmEase Logo"
           class="img-fluid rounded-circle shadow-sm px-2"
           style="height:45px;" />

      <span class="fs-4">
        <span class="text-success">farm</span>
        <span class="text-warning">Ease</span>
      </span>

    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end px-2" id="navMenu">
      <ul class="navbar-nav mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold"  routerLink="/About">About</a>
        </li>

      </ul>

      <button class="btn btn-outline-warning rounded-4 px-3 ms-3" routerLink="/Signup">
        Registation
      </button>
      <button class="btn btn-outline-success rounded-4 px-3 ms-3" routerLink="/Login">
        Login
      </button>

    </div>

  </div>
</nav>
