<div *ngIf="showIntro" id="stage" class="bootloader">
  <div #mainWrapper class="brand-wrapper" id="main-wrapper">
    <svg class="logo-svg" viewBox="0 0 140 140">
      <g transform="rotate(-45 60 60)">
        <path class="g-path" d="M 96 24 H 24 V 96 H 96 V 60 H 60" />
        <path class="g-path inner"
              transform="rotate(180 60 60) translate(-18, -16)"
              d="M 96 24 H 24 V 96 H 96 V 60 H 60" />
      </g>
    </svg>

    <div class="text-container">
      <h1 class="typing-text">
        <span class="display-4 text-success text-shadow">farm</span><span class="display-3 text-warning text-shadow">Ease</span>
      </h1>
    </div>
  </div>
</div>


<div *ngIf="!showIntro" class="main-content">

  <app-nav></app-nav>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
