<section class="testimonials-section">
  <div class="testimonials-container">

    <div class="testimonial-card">
      <div class="testimonial-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="testimonial">
      </div>

      <div class="testimonial-content">
        <div class="stars">★★★★★</div>

        <p class="testimonial-text">
          “The academy cares dancer's progress. The training is structured and
          supportive and incredibly professional.”
        </p>

        <hr />

        <h4>Kathryn Murphy</h4>
        <span>Lorem Ipsum</span>

        <div class="quote-icon">❝</div>
      </div>
    </div>

    <div class="testimonial-card">
      <div class="testimonial-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="testimonial">
      </div>

      <div class="testimonial-content">
        <div class="stars">★★★★★</div>

        <p class="testimonial-text">
          “The academy cares dancer's progress. The training is structured and
          supportive and incredibly professional.”
        </p>

        <hr />

        <h4>Kristin Watson</h4>
        <span>Lorem Ipsum</span>

        <div class="quote-icon">❝</div>
      </div>
    </div>

    <div class="testimonial-card">
      <div class="testimonial-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="testimonial">
      </div>

      <div class="testimonial-content">
        <div class="stars">★★★★★</div>

        <p class="testimonial-text">
          “The academy cares dancer's progress. The training is structured and
          supportive and incredibly professional.”
        </p>

        <hr />

        <h4>Kathryn Murphy</h4>
        <span>Lorem Ipsum</span>

        <div class="quote-icon">❝</div>
      </div>
    </div>

    <div class="testimonial-card">
      <div class="testimonial-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="testimonial">
      </div>

      <div class="testimonial-content">
        <div class="stars">★★★★★</div>

        <p class="testimonial-text">
          “The academy cares dancer's progress. The training is structured and
          supportive and incredibly professional.”
        </p>

        <hr />

        <h4>Kristin Watson</h4>
        <span>Lorem Ipsum</span>

        <div class="quote-icon">❝</div>
      </div>
    </div>

  </div>
</section>
