.testimonials-section {
  background: #fbf9f2;
  padding: 90px 0;
}

.testimonials-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.testimonial-card {
  display: flex;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 25px 60px rgba(0,0,0,0.08);
  position: relative;
  transition: transform 0.4s ease;
  align-items: center;
  flex-direction: row;
}

  .testimonial-card:hover {
    transform: translateY(-8px);
  }

.testimonial-img {
  width: 42%;
}

  .testimonial-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.testimonial-content {
  padding: 40px;
  position: relative;
  flex: 1;
}

.stars {
  color: #f5c542;
  font-size: 18px;
  margin-bottom: 18px;
}

.testimonial-text {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 25px;
}

.testimonial-content hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.testimonial-content h4 {
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.testimonial-content span {
  font-size: 14px;
  color: #777;
}

.quote-icon {
  position: absolute;
  top: 35px;
  right: 35px;
  font-size: 48px;
  color: #eee;
  font-family: serif;
}

@media (max-width: 1280px) and (min-width: 601px) {
  .testimonials-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .testimonial-card {
    display: flex;
    align-items: center;
    flex-direction: row; 
    gap: 10px; 

  }

  .testimonial-img {
    width: 30%; 
    height: auto; 
  }

    .testimonial-img img {
      width: 100%;
      height: auto;
      object-fit: contain; 
    }

  .testimonial-content {
    padding: 35px; 
  }

  .testimonial-text {
    font-size: 17px;
  }

  .testimonial-content h4 {
    font-size: 20px;
  }

  .testimonial-content span {
    font-size: 15px; 
  }
}

@media (max-width: 992px) {
  .testimonials-container {
    grid-template-columns: 1fr; 
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .testimonial-card {
    flex-direction: column; 
  }

  .testimonial-img {
    width: 100%;
    height: 220px;
  }

    .testimonial-img img {
      width: 100%;
      height: 100%;
      object-fit: contain; 
    }

  .testimonial-content {
    padding: 25px; 
  }

  .quote-icon {
    top: 20px;
    right: 20px;
    font-size: 36px;
  }
}

@media (max-width: 600px) {

  .testimonials-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .testimonial-card {
    flex-direction: column;
  }

  .testimonial-img {
    width: 100%;
    height: 180px;
  }

    .testimonial-img img {
      width: 100%;
      height: 100%;
      object-fit: contain; 
    }

  .testimonial-content {
    padding: 20px; 
  }

  .testimonial-text {
    font-size: 15px; 
  }

  .testimonial-content h4 {
    font-size: 16px;
  }

  .testimonial-content span {
    font-size: 13px;
  }

  .quote-icon {
    top: 15px;
    right: 15px;
    font-size: 32px;
  }
}

